# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

**Ojectives:**
* Some of the popular languages in Data Science
* Some of the commonly used libraries in Data Science
* Data science Tools

#Some of the popular languages that Data Scientists use are:1) Python
2) R
3) SQL
4) Java
5) Julia
6) Scala

#Some of the commonly used libraries used by Data Scientists include:1) Numpy
2) Pandas
3) Matplotlib
4) Seaborn
5) Scikit-learn
6) TensorFlow-Pytourch

| Data Science Tools |
|--------------------|
| NumPy             |
| Pandas            |
| Matplotlib        |

In [7]:
### Below are a few examples of evaluating arithmetic expressions in Python.
#This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
print(a)

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
print(hours)

3.3333333333333335

## Author
Farooq Abdul